    p {
    color: rgb(233, 233, 233); 
    font-size: 40px; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }
    body{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 89vh;
        background-color: rgb(159, 159, 159);
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        
    }
    input{
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        margin-top: 10px;
        background-color: rgb(255, 255, 255);
        height: 35px;
        color: rgb(0, 0, 0);
        text-align: center;
        border-color:rgb(0, 0, 0);
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    button{
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        margin-top: 15px;
        border-color: rgb(0, 0, 0) ;
        height: 40px;
        width: 50px;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);    
    
    }
    #result{
        color: rgb(233, 233, 233);
    }
    
    